# Virtual environment
venv/

# Python cache
__pycache__/
*.pyc

# Database
db.sqlite3

# Environment variables
.env

# IDE
.idea/
.vscode/

# Media and static files (если будут)
media/
staticfiles/

# Logs
*.log
